@import "tailwindcss";

@theme {
  --color-background: #0c0c0c;
  --color-gray: #a9a9a9;
  --color-border: #f0f0ff;
}

:root {
  color-scheme: dark;
}

.gradient-text {
  @apply bg-gradient-to-r from-indigo-500 to-fuchsia-500 inline-block text-transparent bg-clip-text;
}

.no-data {
  @apply flex items-center justify-center h-[60vh];
}

.nav-link {
  @apply px-4 py-2 w-full block text-base font-medium border-l-4;
}

.active-nav-link {
  @apply bg-purple-500/30    border-purple-500;
}

.inactive-nav-link {
  @apply border-transparent transition-all duration-300 hover:border-purple-500 hover:bg-purple-500/30;
}
